<style>

/* For the image to have text displayed over it */
div.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}
div.description{
  background: rgba(235, 235, 235, 0.6);
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:5px; /* position will be on bottom */ /*Normally should be 0, I had to change it to 5 because of a weird overlap going onto white space */
	left:0px;
	/* styling bellow */
	/*background-color:black;*/
	font-family: 'tahoma';
	font-size:15px;
	color:black;
}

p.description_content{
	padding:5px 10px;
	margin:0px;
}

p.description_content a
{
text-decoration: none;
color: black;
}

p.description_content a:hover
{
color: black;
}

p.description_content span
{
  font-weight: bold;
}
/**************************************************/

.bannerHeader
{
  padding-top: 15px;
  padding-bottom: 5px;
  color: white;
  font-size: 16pt;
  font-family: sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
}

.bannerHeader h1
{
	padding-left: 15px;
line-height: 7px;
font-family: sans-serif;
}

.redBanner
{
background-color: #d8635a;
}

.blueBanner
{
background-color: #5c9fcc;
}

.greenBanner
{
background-color: #88bc70;
}

.orangeBanner
{
background-color: #f09427;
}

.otherPrograms
{
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  float: left;
  background-color: #ebebeb;
  color: black;
  /*padding-left: 20px;*/
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 5px;
text-align: center;
}

.otherPrograms a
{
text-decoration: none;
font-size: 12pt;
color: black;
}

.otherPrograms a:hover
{
color: black;
}

.otherPrograms:hover
{
background-color: #f7ba73;
color: black;
}

subMenu
{
width: 305px;
}

.subMenu p
{
background-color: #ebebeb;
padding-left: 20px;
margin-bottom: 5px;
height: 61.5px;
line-height: 600%;
}

.subMenu a
{
text-decoration: none;
color: black;
font-size: 12pt;
}

.menuLeft
{
float: left;
margin-right: 5px;
padding-left: 0px;
}

.menuRight
{
float: right;
margin-left: 5px;
padding-left: 0px;
}

.red p:hover
{
background-color: #e4928c;
}

.red p:hover a
{
color: black;
}

.blue p:hover
{
background-color: #8cbcdd;
}

.blue p:hover a
{
color: black;
}

.green p:hover
{
background-color: #b2d4a2;
}

.green p:hover a
{
color: black;
}
</style>
